In [1]:
import session9
from session9 import *

## Task1 : 250 points (including 5 test cases)
### Use the Faker library to get 10000 random profiles. Using namedtuple, calculate the largest blood type, mean-current_location, oldest_person_age, and average age (add proper doc-strings).

In [2]:
# create NAMEDTUPLE from Faker
ntobj = create_nt_from_fakeprofile(10)

In [3]:
ntobj._fields

('job',
 'company',
 'ssn',
 'residence',
 'current_location',
 'blood_group',
 'website',
 'username',
 'name',
 'sex',
 'address',
 'mail',
 'birthdate')

In [4]:
#Return largest blood typ: NAMEDTUPLE
max_bloodgroup_nt(ntobj)

'A-'

In [5]:
#mean-current_location: NAMEDTUPLE
mean_currentlocation_nt(ntobj)

(Decimal('-14.0820049'), Decimal('2.0593476'))

In [6]:
#Return oldest_person_age (in days): NAMEDTUPLE
oldest_age_nt(ntobj)

38546

In [7]:
#Return average age (in days): NAMEDTUPLE
mean_age_nt(ntobj)

20672.4

In [8]:
# Validate Docstrings:
help(create_nt_from_fakeprofile)

Help on function create_nt_from_fakeprofile in module session9:

create_nt_from_fakeprofile(num_of_records: int)
    Create a namedtuple object with 'num_of_records' from fake.profile library.

## Task 2 : 250 points (including 5 test cases)
### Do the same thing above using a dictionary. Prove that namedtuple is faster.

In [9]:
# create DICTIONARY from Faker:
nd = create_dict_from_fakeprofile(10)

In [10]:
# create DICTIONARY from NAMEDTUPLE:
nd = ntobj._asdict()

In [11]:
nd.keys()

dict_keys(['job', 'company', 'ssn', 'residence', 'current_location', 'blood_group', 'website', 'username', 'name', 'sex', 'address', 'mail', 'birthdate'])

In [12]:
#Return largest blood type: DICTIONARY
max_bloodgroup_nt(ntobj)

'A-'

In [13]:
#mean-current_location: DICTIONARY
mean_currentlocation_nt(ntobj)

(Decimal('-14.0820049'), Decimal('2.0593476'))

In [14]:
#Return oldest_person_age (in days): DICTIONARY
oldest_age_nt(ntobj)

38546

In [15]:
#Return average age (in days): DICTIONARY
mean_age_nt(ntobj)

20672.4

In [16]:
# Validate Docstrings:

In [17]:
help(create_dict_from_fakeprofile)

Help on function create_dict_from_fakeprofile in module session9:

create_dict_from_fakeprofile(num_of_records: int)
    Create a dictionary object with 'num_of_records' from fake.profile library.

### Function to Evaluate time betweeen dict and namedtuple for the above functions:

In [18]:
eval_time(ntobj)

 Dict Time is 0.118248s, Named Tuple Time is 0.055229s , Gain is 2.141%

## Task 3 : 500 points (including 10 test cases)
### Create fake data (you can use Faker for company names) for imaginary stock exchange for top 100 companies (name, symbol, open, high, close). Assign a random weight to all the companies. Calculate and show what value the stock market started at, what was the highest value during the day, and where did it end. Make sure your open, high, close are not totally random. You can only use namedtuple.

In [19]:
#Create stockexchange with marketcap and number of companies
initial = create_stockexchangeobj(5000,100)

In [20]:
initial._fields

('company',
 'symbol',
 'openn',
 'high',
 'close',
 'weight',
 'marketcap',
 'trades')

In [21]:
stock_trades_days(initial,5,80)

The opening marketcap ws 5003.5 Billion
The highest marketcap is 5998.3 Billion
The closing marketcap is 5060.23 Billion
Total Trades : 80
Change is 1.13 %

The opening marketcap ws 5060.23 Billion
The highest marketcap is 6064.88 Billion
The closing marketcap is 5128.91 Billion
Total Trades : 79
Change is 1.36 %

The opening marketcap ws 5128.91 Billion
The highest marketcap is 6140.32 Billion
The closing marketcap is 5184.02 Billion
Total Trades : 78
Change is 1.07 %

The opening marketcap ws 5184.02 Billion
The highest marketcap is 6211.94 Billion
The closing marketcap is 5168.33 Billion
Total Trades : 77
Change is -0.30 %

The opening marketcap ws 5168.33 Billion
The highest marketcap is 6188.6 Billion
The closing marketcap is 5234.83 Billion
Total Trades : 76
Change is 1.29 %

In [22]:
stock_trades_days(initial,0,0)

days or trades cannot be less than 1

In [23]:
stock_trades_days(initial,0,-1)

days or trades cannot be less than 1